:root{
    --main-color-light: #88498F;
    --main-color-dark: #564154;
    --main-accent-color :#FF6542;
    --secondary-accent-color: #779FA1;
    --light-background-color: #E0CBA8;
    --black-transparent : rgba(0, 0, 0, 0.5);
    font-family: Poppins, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--light-background-color);
}
@media only screen and (min-width: 768px){

#navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 6vh;
    background-color: var(--main-color-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding-top: 2%;
    color: var(--light-background-color);
    font-size: larger;
    z-index: 3;
    
}

#page-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 180px;
    font-size: 32px;
    font-weight: bolder;
    color: var(--light-background-color);
}
#primary-title:hover{
cursor: pointer;
}
#toggle-menu-button{
    display: none;
  }

  .hidden-menu{
    display: none;
  }
.navbar-button{
    height: auto;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
}
.navbar-button:hover {
    cursor: pointer;
    background-color: var(--main-accent-color);
    color: var(--main-color-dark);
}

.hidden{
    display: none;
}

.show{
    position:fixed;
    top: 10%;
    height: auto;
    width: 120px;
    background-color: var(--main-accent-color);
    color: var(--main-color-dark);
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.show > a{
    padding-left: 10px;
    font-weight: bolder;
    border-radius: 8px;
}
.show > a:hover{
    background-color: var(--main-color-dark);
    color: var(--light-background-color);
}

#navbar-input{
    height: 20px;
    width: 15vw;
    border-radius: 8px;
    border: none;
}

#main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-background-color);
    height: 100vh;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
}

#placeholder{
    width: 100%;
    height: 100vh;
    margin-top: 0;
    background-image: url('./assets/carousel-images/img1.jpg');
    background-size: cover;
    transition: background-image 0.5s ease;
}

#slogan{
    margin-top: 10%;
    font-weight: bolder;
    font-size: 72px;
    color: var(--main-color-light);
}

#description{
    font-weight: bold;
    font-size: 48px;
    color: var(--main-color-dark);
}

#banner{
    background-color: green;
    width: 100%;
    height: 40%;
}

/*CATEGORIES PICKS*/


#title{
    color: var(--main-color-light);
    font-size: 40px;
    margin-top: 0;

}
#cover-container{
    margin-top: 4%;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.book-container{
    margin-top: 2%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 299px;
    height: 420px;
    padding-bottom: 5px;
    box-shadow: 10px 22px 17px 7px rgba(0,0,0,0.4);
}
.book-cover{
    display: none;
}

.book-container > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.book-container > .book-container-info-container{
    background-color: var(--black-transparent);
    width: 100%;
    color: var(--light-background-color);
}



.book-container > .book-container-info-container > .book-container-info-buttons-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}

.book-container > .book-container-info-container > .book-container-info-buttons-container > button {
    background-color: transparent;
    color: var(--main-accent-color);
    border: none;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 8px;
}

.book-container > .book-container-info-container > .book-container-info-buttons-container > button:hover {
    background-color: var(--main-color-dark);
    cursor: pointer;
}

.book-container > .book-container-info-container > .book-container-info-text-container {
    margin-left: 5px;
}

.see-more-container{
    position: fixed; 
    bottom: 0; 
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#seeMoreButton{
background-color: var(--main-color-dark);
font-weight: bolder;
border: none;
color: var(--main-accent-color);
font-size: 20px;
height: 40px;
width: auto;
margin-right: 20px;
border-radius: 8px;
}

#seeMoreButton:hover{
cursor: pointer;
background-color: var(--main-accent-color);
color: var(--main-color-dark);
}

/*INVENTORY SCREEN*/


#cat-back-button-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
 }

 #cat-back-button{
    font-weight: bolder;
    color: var(--main-color-dark);
    border: none;
    background-color: var(--light-background-color);
    font-size: large;
 }
 #cat-inventory-container{
    margin-top: 5%;
    width: 100%;
 }

 .inventory-item-row{
    width: 100%;
 }
 
 .inventory-item-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .inventory-item-image{
    height: 280px;
    width: 180px;
 }

 .inventory-item-title-author-container{
    margin-left: 5px;
    font-size: large;
    width: 40%;
 }

 .inventory-item-quantity-price-container{
    font-size: 12px;
 }

 .inventory-item-buttons-container{
    width: 10vw;
 }


#home{
    background-color: var(--light-background-color);
    height: 100vh;
}

.wish-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--light-background-color);
}

.wish-row:hover{
    background-color: var(--main-color-dark);
}

.wish-row > *:hover{
    color: var(--light-background-color);
}

.title-column{
    flex: 1;
    margin-left: 1vw;
    color: black;
}
.author-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.icon-column{
    color: red;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-column{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.remove-button{
    height: 40px;
    width: auto;
    font-weight: bolder;
    border: none;
    background-color: var(--main-accent-color);
    color: var(--main-color-dark);
    border-radius: 8px;
}

.remove-button:hover{
    cursor: pointer;
}


.material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#footer{
    position: fixed;
    bottom: 0;  
    height: 5vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-background{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shoppingcart-container{
    height: 80vh;
    width: 65vw;
    background-color: antiquewhite;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shoppingcart-container-large > #shopping-cart-display{
    overflow-y: scroll ;
    max-height: 55vh;
}

#close-button{
    margin: 20px;
    height: 30px;
    width: 30px;
    
}

#close-btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: inherit;
}

#operation-btn-container{
    display: flex;
    margin-top: auto;
    margin-bottom: 10px;
    gap: 20px;    
}

#shoppingcart-cover{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

#shopping-cart-display{
    width: 90%;
}

.shoppingcart-container-large > #shopping-cart-display{
    overflow-y: scroll;
}

#book-cover-content{
    height: 200px;
    width: 160px;
    margin-left: 30px;
}

#book-info{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
}

/*SMALL SCREENS*/



@media only screen and (max-width: 767px){
  /*HERE STARTS THE NAVBAR*/

  #primary-title:hover{
    cursor: pointer;
    }

  #navbar {
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: var(--main-color-dark);
    color: var(--light-background-color);
    z-index: 3;
    transition: height 0.3s ease; /* Add transition for height change */
  } 
  #navbar-input{
    border-radius: 8px;
    border: none;
}

#placeholder{
    margin-top: 12%;
    height: 100%;
    width: 100%;
    background-image: url('./assets/carousel-images/img2.jpg');
    background-size: cover;
}

#slogan{
    font-weight: bolder;
    font-size: 48px;
    color: var(--light-background-color);
}

#description{
    font-weight: bold;
    font-size: 24px;
    color: var(--light-background-color);
}

#banner{
    background-color: green;
    width: 100%;
    height: 100px;
    margin-top: 10%;
    margin-bottom: 0;
}
/*NAVBAR COLLIPSIBLE FUNCTION*/


  .hidden {
    height: 6vh; /* Set the height of the hidden navbar */
  }
  .hidden > #navbar-categories,
  .hidden > #navbar-wishlist,
  .hidden > #navbar-shoppingcart,
  .hidden > #navbar-login,
  .hidden > #navbar-input {
    display: none; /* Or display: block; depending on your layout */
  }
  .show > #navbar-categories,
  .show > #navbar-wishlist,
  .show > #navbar-shoppingcart,
  .show > #navbar-login,
  .show > #navbar-input{
    display: flex; /* Or display: block; depending on your layout */
    flex-direction: column;
    align-items: center;
  }
  
  #page-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 32px;
    font-weight: bolder;
    color: var(--light-background-color);
  }
  .navbar-button{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}
#navbar-wishlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
  #toggle-menu-button{
    height: 40px;
    width: 40px;
    color: var(--main-accent-color);
    border: none;
    background: none;
  }
  .show {
    height: auto; /* Set the height of the navbar to auto when it's in the show state */
  }
  .hidden-menu{
    display: none;
  }
  .open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar-button:hover {
    cursor: pointer;
    background-color: var(--main-accent-color);
    color: var(--main-color-dark);
}
/*CATEGORIES MENU*/
#deploy-menu{
font-weight: bolder;
width: 100%;
height: auto;
overflow-y: auto;
padding-top: 1%;
}
#deploy-menu>a{
    width: 100%;
}
#deploy-menu>a:hover{
    background-color: var(--main-color-dark);
    color: var(--light-background-color);
}   
#footer{
    position: fixed;
    bottom: 0;  
    height: 7vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-background-color);
    height: 100vh;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
}
/*CATEGORIES PICKS*/
.see-more-container{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#seeMoreButton{
    position: absolute;
 }
 
 #title{
     color: var(--main-color-light);
     font-size: 40px;
     margin-top: 5vh;
     margin-bottom: -40px;
 }
 #cover-container{
    margin-top: 10%;
    overflow-y: auto;
     width: 100%;
     height: 800px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .book-container{
     margin-top: 8%;    
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 400px;
     background-image: none;
     background-color: var(--main-accent-color) !important;
     box-shadow: 10px 22px 17px 7px rgba(0,0,0,0.4);
 }
 .book-container-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--main-accent-color);
 }

 .book-container-info-text-container{
    background-color: var(--black-transparent);
    color: var(--light-background-color);
 }

 .book-container-info-buttons-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
 }

 .book-container-info-buttons-container > button{
    border: none;
    border-radius: 8px;
    height: 40px;
    font-weight: bolder;
    background-color: var(--main-color-dark);
    color: var(--main-accent-color);
 }


 .book-cover{
     height: 400px;
     width: 280px;
     margin-bottom: 0;
     margin-left: 0; 
 }
 
 .book-container > .book-container-info-container > button {
     background-color: var(--main-accent-color);
     border: none;
     font-weight: bolder;
     font-size: 20px;
     color: var(--main-color-dark);
     width: 100%;
     height: 40px;
     background-color: var(--secondary-accent-color);
     margin-bottom: 0;
 }
 
 .book-container > .book-container-info-container > button:hover {
     cursor: pointer;
 }
 
 #seeMoreButton{
 background-color: var(--light-background-color);
 font-weight: bolder;
 border: none;
 color: var(--main-color-dark);
 font-size: 20px;
 height: 40px;
 }
 
 #seeMoreButton:hover{
 cursor: pointer;
 }

 /*INVENTORY SCREEN*/


 #cat-back-button-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
 }

 #cat-back-button{
    font-weight: bolder;
    color: var(--main-color-dark);
    border: none;
    background-color: var(--light-background-color);
    font-size: large;
 }
 #cat-inventory-container{
    margin-top: 15%;
    width: 100%;
 }

 .inventory-item-row{
    width: 100%;
 }
 
 .inventory-item-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .inventory-item-image{
    height: 140px;
    width: 90px;
 }

 .inventory-item-title-author-container{
    margin-left: 5px;
    font-size: small;
    width: 40%;
 }

 .inventory-item-quantity-price-container{
    font-size: 12px;
 }



 /*WISHLIST*/
 
 #wishlist-container{
    margin-top: 20%;
 }
 .wish-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--light-background-color);
    border: 1px none 1px solid black;
}

.wish-row:hover{
    background-color: var(--main-color-dark);
}

.wish-row > *:hover{
    color: var(--light-background-color);
}

.title-column{
    flex: 1;
    margin-left: 1vw;
    color: black;
}
.author-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.icon-column{
    color: red;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-column{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.remove-button{
    height: 40px;
    width: auto;
    font-weight: bolder;
    border: none;
    background-color: var(--main-accent-color);
    color: var(--main-color-dark);
    border-radius: 8px;
}

.remove-button:hover{
    cursor: pointer;
}

/*SHOPPING CART*/

#modal-background{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shoppingcart-container{
    height: 80vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shoppingcart-container-large > #shopping-cart-display{
    overflow-y: scroll ;
    max-height: 55vh;
}

#close-button{
    margin: 20px;
    height: 30px;
    width: 30px;
    
}

#close-btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: inherit;
}

.shoppingcart-cover{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    margin-bottom: 2%;
}
.book-cover-content{
    height: 300px;
}
.book-info{
    margin-left: 4%;
}
  }