body{
    margin: 0;
    padding: 0;
}

#navbar{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: dimgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding-top: 2%;
    color: antiquewhite;
    font-size: larger;
    z-index: 3;
}

.navbar-button{
    height: auto;
    width: auto;
    display: flex;
}
.navbar-button:hover {
    cursor: pointer;
}

.hidden{
    display: none;
}

.show{
    position: absolute;
    top: 10%;
    height: auto;
    width: 100px;
    background-color: dimgray;
    color: aliceblue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#navbar-input{
    height: 20px;
    width: 15vw;
    border-radius: 8px;
    border: none;
}

#main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 100vh;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
}

#seeMoreButton{
   margin-top: 15vh;
   margin-left: 80vw;
}

#title{
    color: green;
    font-size: 40px;
}
#cover-container{
    width: 100%;
    height: 40vh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.book-container{
    background-color: aliceblue;
    margin-top: 6%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 8px;
    width: 200px;
    height: 350px;
}
.book-cover{
    max-width: 100px;
    max-height: fit-content;
}

#home{
    background-color: green;
    height: 100vh;
}

.wish-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.title-column{
    flex: 1;
    margin-left: 1vw;
}
.author-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.icon-column{
    color: red;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.remove-button-column{
    flex: 1;
    justify-content: flex-end;
}
.remove-button{
    height: 40px;
    width: auto;
}

.material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#placeholder{
    height: 60vh;
    width: 80vw;
    background-color: red;
    border-radius: 28px;
}

#footer{
    position: fixed;
    bottom: 0;  
    height: 5vh;
    width: 100vw;
    background-color: aqua;
}

#modal-background{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}